.multiselect__input {
  background-color: $main-bg-color !important;
  color: white !important;
  border-color: $accent-color;
  // Gaya lainnya di sini
}

.multiselect__element {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.multiselect__content-wrapper {
  .multiselect__content,
  li .multiselect__option {
    display: block;
    width: 100%;
    transition: background-color 0.3s;
  }
}

.multiselect__option span {
  margin-left: 0.5rem;
  // Gaya lainnya di sini
}

/* Gaya hover pada opsi */
.multiselect__option:hover {
  background-color: $accent-color;
}

/* Gaya terpilih pada opsi */
.multiselect__option[aria-selected="true"] {
  background-color: $selected-color;
}
