@tailwind base;
@tailwind components;
@tailwind utilities;

/*details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}*/

summary {
  cursor: pointer;
  outline: none;
}

summary::marker {
  content: "▶";
  font-size: 0.8em;
  margin-right: 5px;
}

details[open] summary::marker {
  content: "▼";
}

table {
  font-family: "Open Sans", sans-serif;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.table-sticky th:nth-child(-n + 2),
.table-sticky td:nth-child(-n + 2) {
  position: sticky;
  background: #e2e8f0; /* Ganti dengan warna yang sesuai */
  color: #2d3748; /* Ganti dengan warna yang sesuai */
  box-shadow: 1px 2px 2px 2px #edf2f7; /* Ganti dengan warna yang sesuai */
  left: 0;
  border: none;
}

.table-sticky .sticky-header {
  position: sticky;
  top: 0;
  background: #2d3748; /* Ganti dengan warna yang sesuai */
  color: #ffffff; /* Ganti dengan warna yang sesuai */
  box-shadow: 1px 2px 2px 2px #edf2f7; /* Ganti dengan warna yang sesuai */
  z-index: 1;
}

.table-sticky-card tr > th:nth-child(1),
.table-sticky-card tr > td:nth-child(1),
.table-sticky-card tr > th:nth-child(2),
.table-sticky-card tr > td:nth-child(2),
.table-sticky-card tr > th:nth-child(3),
.table-sticky-card tr > td:nth-child(3) {
  position: sticky;
  background: #2d3748; /* Ganti dengan warna yang sesuai */
  color: #ffffff; /* Ganti dengan warna yang sesuai */
  box-shadow: 1px 2px 2px 2px #edf2f7; /* Ganti dengan warna yang sesuai */
  left: 0;
  border: none;
}

.table-sticky-card .sticky-header {
  position: sticky;
  top: 0;
  background: #2d3748; /* Ganti dengan warna yang sesuai */
  color: #ffffff; /* Ganti dengan warna yang sesuai */
  box-shadow: 1px 2px 2px 2px #edf2f7; /* Ganti dengan warna yang sesuai */
  z-index: 1;
}

.multiselect__input {
  background-color: #060501 !important;
  color: white !important;
  border-color: #866629;
}

.multiselect__element {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.multiselect__content-wrapper {
  .multiselect__content,
  li .multiselect__option {
    display: block;
    width: 100%;
    transition: background-color 0.3s;
  }
}

.select2 .select2-selection {
  height: 5vh !important;
}
.select2,
.select2-selection .select2-selection--single {
  width: 100% !important;

  .select2-selection__rendered {
    margin-top: 0.2rem !important;
  }
}

.multiselect__option span {
  margin-left: 0.5rem;
}

/* Gaya hover pada opsi */
.multiselect__option:hover {
  background-color: #b89723;
}

/* Gaya terpilih pada opsi */
.multiselect__option[aria-selected="true"] {
  background-color: #b89723;
}
